@using Shop.Services.Scopes
@using Shop.Data.ViewModels.Admin

@inject AdminLayoutScope scope

@{
    UserDetailViewModel user = await scope.GetUserDetail(User.Identity.Name);
}


<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>پنل مدیریت | @ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/dist/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    @*<div class="page-wrapper chiller-theme toggled">*@
    <div class="page-wrapper chiller-theme">
        <a href="#" id="show-sidebar" class="btn btn-sm sidebarToggle">
            <i class="fa fa-bars"></i>
        </a>

        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">فروشگاه اینترنتی</a>

                    <div id="close-sidebar">
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="sidebar-header">
                    <div class="user-info">
                        <span class="user-name">@user.FullName</span>

                        <span class="user-role">@user.RoleName</span>

                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>آنلاین</span>
                        </span>
                    </div>

                    <div class="user-pic">
                        <img src="@user.PhotoUrl.Replace("/wwwroot", "")" alt="فروشگاه اینترنتی" class="img-responsive" width="80" height="80" />
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin">
                                <span class="pull-right">داشبورد</span>

                                <span class="item-icon pull-left fas fa-desktop"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/Factor">
                                <span class="pull-right">فاکتور ها</span>

                                <span class="item-icon pull-left fas fa-shopping-basket"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/Product">
                                <span class="pull-right">محصولات</span>

                                <span class="item-icon pull-left fas fa-shopping-cart"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/Category">
                                <span class="pull-right">دسته بندی ها</span>

                                <span class="item-icon pull-left fa fa-list-ul"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/Coupon">
                                <span class="pull-right">کد های تخفیف</span>

                                <span class="item-icon pull-left fas fa-percent"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/UsersManagement">
                                <span class="pull-right">مدیریت کاربران</span>

                                <span class="item-icon pull-left fas fa-users-cog"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/Admin/Payment">
                                <span class="pull-right">پرداخت ها</span>

                                <span class="item-icon pull-left far fa-chart-bar"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <span class="pull-right">تنظیمات</span>

                                <span class="item-icon pull-left fa fa-cogs"></span>
                            </a>

                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/Admin/Setting/Site">تنظیمات فروشگاه</a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Setting/MessageSender">تنظیمات ارسال پیام</a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Social">شبکه های اجتماعی</a>
                                    </li>
                                    <li>
                                        <a href="/Admin/License">مجوز ها</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <span class="pull-right">حساب کاربری</span>

                                <span class="item-icon pull-left far fa-address-card"></span>
                            </a>

                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/Admin/Profile">مشاهده و ویرایش اطلاعات کاربری</a>
                                    </li>
                                    <li>
                                        <a href="/Admin/Profile/ChangePassword">تغییر کلمه عبور</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-footer">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">2</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-warning notification">7</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge badge-pill badge-warning notification">7</span>
                    </a>

                    <a href="/Logout">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row align-self-center justify-content-center margin-top-50">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/admin.js"></script>
    @RenderSection("script", false)
</body>
</html>
