@model Shop.Data.ViewModels.Panel.OrderDetailsViewModel

@{
    ViewData["Title"] = "جزئیات سفارش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-10">
    <div class="margin-bottom-50">
        <h3 class="pull-right">
            <span>مشاهده جزئیات سفارش</span>
        </h3>

        <h class="pull-left">
            <a href="/Admin/Factor" class="btn btn-primary">بازگشت</a>
        </h>
    </div>

    <div class="row"><hr /></div>

    <div class="margin-top-10">
        <div class="alert alert-info" role="alert" style="margin: 0 auto; font-size: larger;">
            <p><strong>آدرس تحویل سفارش: </strong> @Model.Address</p>
        </div>

        <table class="table table-striped table-hover margin-top-10">
            <thead>
                <tr>
                    <th>تصویر محصول</th>
                    <th>نام محصول</th>
                    <th>تعداد</th>
                    <th>قیمت واحد</th>
                    <th>جمع قیمت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            <img src="@item.PhotoUrl.Replace("/wwwroot", "")" style="max-width: 150px" class="thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @String.Format("{0:n0}", item.Price) تومان
                        </td>
                        <td>
                            @String.Format("{0:n0}", (item.Price * item.Count)) تومان
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="row justify-content-between margin-bottom-50">
            <div class="col-md-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2>فاکتور</h2>
                    </div>

                    <br />

                    <div class="px-4">
                        <p class="mb-1">
                            قیمت کل:
                            <strong>
                                @String.Format("{0:n0}", Model.OrderSum) تومان
                            </strong>
                        </p>
                        <hr />
                        <p>هزینه ارسال: <strong>20,000 تومان</strong></p>
                        <hr />
                        <p>
                            تخفیف:
                            <strong>
                                @String.Format("{0:n0}", Model.Discount) تومان
                            </strong>
                        </p>
                        <hr />
                        <p>
                            مجموع:
                            <strong>
                                @String.Format("{0:n0}", Convert.ToInt32(Model.OrderSum - Model.Discount + 20000)) تومان
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>